@charset "UTF-8";

/* Reset */
// html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	outline: 0;
// 	font-weight: inherit;
// 	font-style: inherit;
// 	font-size: 100%;
// 	font-family: inherit;
// 	text-decoration: none;
// }
// :focus, :active { outline: 0 }

ol, ul {
    list-style: none;
    padding-inline-start: 0px;
}
blockquote:before, blockquote:after { content: "" }
blockquote { quotes: "" "" }
header, nav, article, aside, footer, hgroup, section { display: block }

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1 } /* IE6 */
*:first-child+html .clearfix { zoom: 1 } /* IE7 */



/* Typography */
html {
	animation-name: color-transfusion;
	animation-duration: 120s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
body {
	width: 960px;
	margin: 0 auto;
	background-color: transparent;
	text-align: justify;
	font: 12px/18px Corbel, Arial, Helvetica, sans-serif;
	p { margin-bottom: 18px }
	strong { font-weight: bold }
	em { font-style: italic }
	h1 { font: 24px/36px "Trebuchet MS", Arial, Helvetica, sans-serif }
	@import "Header/Header.scss";
	@import "Aside/Aside.scss";
	@import "Content/Content.scss";
}

// Animations
@keyframes color-transfusion {
	// Blue
	0% {
		box-shadow: 0 300px 200px -100px rgb(96, 170, 158) inset;
		background: rgb(96, 170, 158);
	}
	// Green top
	10% {
		box-shadow: 0 300px 200px -100px rgb(80, 149, 80) inset;
		background: rgb(96, 170, 158);
	}
	// Green
	25% {
		box-shadow: 0 300px 200px -100px rgb(80, 149, 80) inset;
		background: rgb(80, 149, 80);
	}
	// Yellow top
	35% {
		box-shadow: 0 300px 200px -100px rgb(168, 182, 89) inset;
		background: rgb(80, 149, 80);
	}
	// Yellow
	50% {
		box-shadow: 0 300px 200px -100px rgb(168, 182, 89) inset;
		background: rgb(168, 182, 89);
	}
	// Orange top
	60% {
		box-shadow: 0 300px 200px -100px rgb(182, 146, 89) inset;
		background: rgb(168, 182, 89);
	}
	// Orange
	75% {
		box-shadow: 0 300px 200px -100px rgb(182, 146, 89) inset;
		background: rgb(182, 146, 89);
	}
	// Blue top
	85% {
		box-shadow: 0 300px 200px -100px rgb(96, 170, 158) inset;
		background: rgb(182, 146, 89);
	}
	// Blue
	100% {
		box-shadow: 0 300px 200px -100px rgb(96, 170, 158) inset;
		background: rgb(96, 170, 158);
	}
}